section {
  > h2 {
    @h: 24px;
    font-size: @h;
    > .clock {
      position: relative;
      height: @h + 2px;
      top: 3px;
      padding-left: 15px;
      padding-right: 6px;
    }
  }
  > form {
    padding-bottom: 30px;
  }
}

input {
  -webkit-appearance: none;
  appearance: none;
}

// ac, wa
.wa {
  color: hsl(0, 100%, 50%);
}
.wa-box {
  background-color: rgb(231, 175, 95);
  color: white;
}
.ac-box {
  background-color: rgb(116, 181, 102);
  color: white;
}
.ac-box,
.wa-box {
  padding: 4px 10px;
  border-radius: 3px;
}

// judge
input[type=submit] {
  height: 30px;
  width: 100px;
  border: 0;
  color: white;
  transition: all .3s;
  font-size: 18px;
  outline: none;
  margin-right: 4px;
}
input[type=submit]:not(:disabled) {
  background-color: hsl(200, 80%, 40%);
  cursor: pointer;
  &:hover {
    background-color: hsl(200, 80%, 30%);
  }
}
input[type=submit]:disabled {
  transition: none;
  background-color: #aaa;
}

input[type=text],
input[type=number] {
  border: 1px solid #333;
  height: 28px;
  font-size: 18px;
  padding-left: 2px;
}

input[type=number] {
  width: 80px;
}

input[type=text] {
  width: 300px;
}
